<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "yalp.p304.app"
        versionCode="1" 
        version   = "0.0.10">

    <!-- versionCode is optional and Android only -->
    <icon src="icon.png" />
    <name>YalpApp</name>

    <description>
        Find res 
    </description>

    <author href="" email="ch_rambler@rambler.ru">
        Simon Kamina
    </author>

</widget>