      html { 
        height: 100%;
      }
      @font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Light.ttf') , 
         url('fonts/OpenSans-Bold.ttf') ,
         url('fonts/OpenSans-Regular.ttf');
}
      body { 
        margin: 0; 
        padding: 10px;
        position: absolute;
        top: 5px;
        left: 0px;
        right: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        font-family: "OpenSans", sans-serif;
        background-color: rgb(240, 240, 240);
        clear: both;
        background-image: url('img/binding_light.png');
  }
  strong {
    font-weight: bold;
  }
  .desclink {
    text-decoration: none;
  }
  hr {
   border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
      #searchtext {
        float:left;
background-color: white;
font-family: inherit;
border: 1px solid #cccccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
color: rgba(0, 0, 0, 0.75);
display: block;
font-size: 1.5em;
margin: 0 0 12px 0;
padding: 6px;
width: 75%;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
-o-transition: all 0.15s linear;
transition: all 0.15s linear;
  -moz-box-shadow: 2px 3px 11px #888;
-webkit-box-shadow: 2px 3px 11px #888;
box-shadow: 2px 3px 11px #888;
      }
      #map-canvas { 
        height: 80%;
        min-height: 600px;
        -moz-box-shadow: 2px 3px 11px #888;;
        -webkit-box-shadow: 2px 3px 11px #888;;
        box-shadow: 2px 3px 11px #888;
        clear:both;
      }
      h2 {
      	 text-align: center;
         color: #f95e5b;
         }
		.button { font-variant:small-caps;
     width: auto; background: #2ba6cb; border: 
		1px solid #1e728c; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
		color: white; cursor: pointer; display: inline-block; font-size: 0.7em; 
		font-weight: bold; line-height: 1; margin: 0; 
		padding: 6px 7px 6px;
     position: relative; text-align: center; text-decoration: none; 
		-webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out;
		 -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out;
		  /* Hovers */ /* Sizes */ /* Colors */ /* Radii */ /* Layout */ /* Disabled ---------- */ }
		.button:hover, .button:focus { color: white; background-color: #2284a1; }
/* Dropdown Button */
.dropdown.button {
  position: relative;
  padding-right: 2.1875em; }

    #dropdownmenu {
      line-height: 2.6em;
      padding-right: 15px;
      padding-left: 15px;
      border:none;
      font-size: 0.8em;
    }

    #menulist {
      display: none;
      position: absolute;
      z-index: 1000;
      right: 10px;
      background: rgba(255,255,255,1);
      top: 53px;
      font-variant: small-caps;
      color: white;
      list-style: none;
      background-color: #2ba6cb;
    }
    #menulist li {
      cursor: pointer;
      padding: 5px 35px;
    }
    #menulist li:hover {
      background-color: rgb(9, 90, 177);
    }
		/* For the "inset" look only */
#descriptiontxt, #searchresults{
  position:relative;
  top:20px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  -moz-box-shadow: 2px 3px 11px #888;
-webkit-box-shadow: 2px 3px 11px #888;
box-shadow: 2px 3px 11px #888;
background-position:left top;
background-repeat:repeat-y;
display:none;
clear: both
}
.desc {
  display: none;
}

#desctitle {
  cursor: pointer;
  color:rgb(56, 114, 238);
}

.searchedtxt strong{
  color: rgb(56, 114, 238);
font-size: 0.9em;
}
.searchedtxt:hover {
  cursor: pointer;
}
strong {
  color:rgb(68, 68, 68);
}
#menu {
  float: right;
  margin-bottom: 5px;
}
    